body {
  font-family: 'Inter', sans-serif;
  background-color: #FEFDFC;
  max-width: 1040px;
  min-width: 10vw;
  margin: 2em auto;
}

#dropdownBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  cursor: pointer;
  background-color: #F2EEE9;
  border-radius: 4px;
  position: relative;
}

.dropdown-menu {
  background-color: #F2EEE9;
  position: absolute;
  padding: 12px 18px;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* visibility: hidden;
  opacity: 0; */
}

.hidden {
  display: none;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
}

#searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: #F2EEE9;
}

#searchInput::placeholder {
  font-size: 16px;
}

.material-symbols-outlined {
  color: #807D79;
}

button {
  background-color: #222431;
  color: #FDFDFC;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 99px;
  padding: 12px 22px;
  border: none;
}

.secondary-btn {
  background-color: #FCF9F8;
  color: #222431;
  
}

button:hover {
  background-color: #F1CABF;
  color: #222431;
}

button:hover.primary-btn {

}



.button-group {
  display: flex;
  gap: 4px;
}

#arrowDown {
  transition: transform 0.2s ease; /* Smooth rotation animation */
}

#arrowDown.rotated {
  transform: rotate(180deg); /* Rotate the arrow 180 degrees */
}

#selectedIdsContainer {
  background-color: #F5F5F5;
  border-radius: 4px;
  width: 100%;
  margin-top: 8px;
  padding: 12px 18px;
}

#searchBar {
  display: flex; 
  /* flex-direction: row; 
  justify-content: center;  */
  gap: 16px; 
  width: 100%;
}

#searchBar > div:first-child {
  flex: 1;
  width: 100%;
}

.selected-item {
  background-color: #ffffff;
  font-size: 12pt;
  border-radius: 99px;
  padding: 4px 12px;
}

#inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}